<!doctype html>
<html lang="en">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />

    <!-- Keywords -->
    <meta
      name="keywords"
      content="bybe, pathfinder, 2e, second edition, pf 2e, pf2e, beyond your bestiary explorer, encounter builder, random, combat, generator, dm tools, gm tools, shop, npc"
    />

    <!-- Facebook meta tags -->
    <meta property="og:url" content="https://bybe.fly.dev/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="BYBE - Pathfinder 2e GM Tools" />
    <meta
      property="og:description"
      content="Beyond Your Bestiary Explorer (BYBE) is a one-stop shop for the most useful tools for Pathfinder Second Edition GMs"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/TheAsel/BYBE-frontend/HEAD/.github/logo.png"
    />

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="bybe.fly.dev" />
    <meta property="twitter:url" content="https://bybe.fly.dev/" />
    <meta name="twitter:title" content="BYBE - Pathfinder 2e GM Tools" />
    <meta
      name="twitter:description"
      content="Beyond Your Bestiary Explorer (BYBE) is a one-stop shop for the most useful tools for Pathfinder Second Edition GMs"
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/TheAsel/BYBE-frontend/HEAD/.github/logo.png"
    />

    <!-- Other meta tags -->
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="TheAsel" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta name="google-site-verification" content="qtv93-j8tUOTtsuxOS988l9RF9L4-KGMgRYmOrUpQ5k" />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <!-- quasar:entry-point -->
    <script
      src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
      integrity="sha384-4VTAIPa7wvHSDJMT8MfIGjeEbXASOBA77epDpVRQtDVTUsNX/7CwMwduSyirANhd"
      crossorigin="anonymous"
    ></script>
    <script>
      kofiWidgetOverlay.draw('theasel', {
        type: 'floating-chat',
        'floating-chat.donateButton.text': 'Support Us',
        'floating-chat.donateButton.background-color': '#00b9fe',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
  </body>
</html>
